extends ../layout

include ../mixins/_baseInput
include ../mixins/_playerForm

block content
  .mx-auto.container.py-3
    +playerForm()
block scripts
  script(src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript")
