extends ../layout

include ../mixins/_playersList

block content
  .mx-auto.container
    div(class="mb-3")
      h2(class="font-extrabold text-3xl mb-3") #{title}
      a(href="/players/create" class="rounded bg-blue-700 text-white px-3 py-2") Create Player
    div
      input(type="text" name="playersSearch" id="playersSearch" class="border rounded bg-gray-200 mb-3" placeholder="Filter Player")
    div#playersList(class="-mx-3")
      +playersList(players)
    if players
      div #{players.length} in database

block scripts
  script.
    var playersSearchInput = document.getElementById('playersSearch')
    playersSearchInput.addEventListener('keypress', function(e) {
      fetch(`/players-search?q=${e.target.value}`)
        .then(res => res.text())
        .then(html => {
          var playersList = document.getElementById('playersList')
          playersList.innerHTML = html;
        });
    });
