extends ../layout

include ../mixins/_forgotForm

block content
  div(class="md:w-2/3 shadow-2xl mx-auto mt-6 rounded overflow-hidden")
    div(class="bg-gray-300 p-3 border-b border-gray-500")
      h2.text-xl.font-bold Forgot Password
    .p-3
      +forgotForm()
