extends ../layout

include ../mixins/_loginForm

block content
  .mx-auto.container.px-3
    div(class="md:w-2/3 shadow-2xl mx-auto mt-5 rounded overflow-hidden")
      div(class="bg-gray-300 p-3 border-b border-gray-500")
        h1(class="text-2xl font-bold mb-3") #{title}
      .p-3
        +loginForm(csrfToken)
        div(class="border-t")
          a(href="/forgot" class="block mt-3") Forgot your password?
