extends ../layout

block content
  .container.mx-auto
    h2 Reset Your Password
    form(method="POST")
      .flex.flex-col.mb-3
        label(for="password") Password
        input(type="password" name="password" id="password" class="border flex-auto rounded p-2 shadow" required)
      .flex.flex-col.mb-3
        label(for="passwordConfirm") Password Confirm
        input(type="password" name="passwordConfirm" id="passwordConfirm" class="border flex-auto rounded p-2 shadow" required)
      .mb-3
        button(type="submit" class="py-3 px-2 bg-blue-800 text-white") Reset Password
