extends ../layout

include ../mixins/_baseInput
include ../mixins/_csrfInput

block content
  .container.mx-auto
    h2 Reset Your Password
    form(method="POST")
      +csrfInput(csrfToken)
      .flex.flex-col.mb-3
        +baseInput('password', 'Password', 'password', '', '******', true)
      .flex.flex-col.mb-3
        +baseInput('password', 'Password Confirm', 'passwordConfirm', '', 'Confirm ******', true)
      .mb-3
        button(type="submit" class="py-3 px-2 bg-blue-800 text-white") Reset Password
