extends ../layout

include ../mixins/_csrfInput

block content
  .container.mx-auto
    h2 #{title}
    strong Are you sure you want to delete #{songbook.songbook_title}
    form(method="POST")
      +csrfInput()
      button(type="submit" class="px-3 py-3 rounded bg-red-700 text-white") Delete #{songbook.songbook_title}
