extends ../layout

block content
  .container.mx-auto
    h2 #{title}
    a(href="/songbooks/create") Add Songbook
    each songbook in songbooks
      div
        a(href=`/songbooks/${songbook._id}`) #{songbook.songbook_title}
    else
      h3 No Songbooks
