extends ../layout

include ../mixins/_songbooksList

block content
  .mx-auto.container
    div(class="mb-3")
      h3(class="font-extrabold text-3xl mb-3") #{title}
    div
      div(class="flex justify-between mb-3 flex-col md:flex-row")
        a(href="/songbooks/create" class="btn bg-blue-700 text-white mb:auto mb-3") Add Songbook
      div#songbookList(class="-mx-3")
        +songbooksList(songbooks)
