extends ../layout

include ../mixins/_foeForm
include ../mixins/_csrfInput


block content
  .mx-auto.container
    div(class="flex justify-between")
      h2(class="mb-3 text-2xl font-semibold") #{title}
    +foeForm(foe, true)
