extends ../layout

include ../mixins/_csrfInput

block content
  h2(class="mb-3")
    span(class="font-semibold") Delete?&nbsp;
    span #{feedItem.text}
  form(method="POST")
    +csrfInput()
    button(type="submit" class="btn btn--delete") Delete Notification
