extends ../layout

include ../mixins/_csrfInput

block content
  h2 #{title}
  strong Are you sure you want to delete #{song.title}
  form(method="POST")
    +csrfInput()
    button(type="submit" class="px-3 py-2 rounded bg-red-700 text-white") Delete #{song.title}
