include ../mixins/_baseInput
include ../mixins/_baseCheckbox

mixin channelForm(channel = {}, ...props)
  if channel.id
    #channel-id(class="hidden") #{channel.id}
  form(method="POST")
    .flex.flex-col.mb-3
      +baseInput("text", "Name", "name", channel.name, "Name", true)
    .flex.flex-col.mb-3
      +baseInput("text", "Default Locale", "defaultLocale", channel.defaultLocale, "Default Local", true)
    .flex.flex-col.mb-3
      span Insert Avatar Upload...
    .flex.flex-col.mb-3
      +baseInput("text", "Header URL", "headerUrl", channel.headerUrl, "Header Url")
    .flex.flex-col.mb-3
      +baseCheckbox("checkbox", "Follow", "follow", channel.follow, "Follow")
    .flex.flex-col.mb-3
      +baseCheckbox("checkbox", "Active", "active", channel.active, "Active")
    .flex.flex-col.mb-3
      div(x-data="{ users: " + JSON.stringify(users) + ", selectedUser: { _id: '', name: '', canCreate: false, canEdit: false, canDelete: false, canPush: false }, selectedUsers: [] }")
        h3 Unassigned Users
        template(x-for="_user in users")
          div(class="flex")
            button(type="button" @click="selectedUser = _user")
              input(type="hidden" :value="JSON.stringify(_user)")
              h4(x-text="_user.name")
        template(x-if="selectedUser.name")
          div(class="list--card")
            h4(x-text="selectedUser.name")
            label Can Create
              input(type="checkbox" x-model="selectedUser.canCreate")
            label Can Edit
              input(type="checkbox" x-model="selectedUser.canEdit")
            label Can Delete
              input(type="checkbox" x-model="selectedUser.canDelete")
            label Can Push
              input(type="checkbox" x-model="selectedUser.canPush")
            button(type="button" @click="selectedUsers.push(selectedUser); selectedUser = { _id: '', name: '', canCreate: false, canEdit: false, canDelete: false, canPush: false }") &plus;
            button(type="button" @click="selectedUser = {}") &times;
        h3 Assigned Users
        template(x-for="user in selectedUsers")
          input(type="hidden" name="users[]" :value="JSON.stringify(user)")
          div
            h4(x-text="user.name")
    .mb-3
      button(type="submit" class="btn bg-blue-700 text-white") Save
