include _baseInput
include _csrfInput

mixin loginForm(csrfToken)
  form.form(method="POST" action="/login")
    +csrfInput(csrfToken)
    .flex.flex-col.mb-3
      +baseInput("email", "Email", "email", "", "email@email.com", true)
    .flex.flex-col.mb-3
      +baseInput("password", "Password", "password", "", "******", true)
    div
      button(type="submit" class="bg-blue-700 text-white py-2 px-3 rounded") Login
