include ./_baseInput
include ./_csrfInput

mixin rosterForm(roster = {}, players = {})
  form(method="POST")
    +csrfInput()
    .flex.flex-col.mb-3
      +baseInput("text", "Roster Title", "rosterTitle", roster.rosterTitle, "Title", true)
    .flex.flex-col.mb-3
      +baseInput("text", "Season", "season", roster.season, "Season", true)
    h3 Players
    div(x-data="{ players: " + JSON.stringify(players) + ", selectedPlayer: {}, rosterPlayers: " + JSON.stringify(roster.players) + ", editingPlayer: false }" class="mb-3")
      .container.mx-auto.flex
        div(class="w-1/2 mr-3")
          div(class="h-64 overflow-x-hidden overflow-y-scroll border rounded")
            template(x-for="player in players")
              button(class="block w-full text-left p-3 border-b" type="button" x-on:click="selectedPlayer = { ...player, hint: '' }")
                span(x-text="player.name")
        div(class="w-1/2")
          div(class="StackedList h-64 overflow-x-hidden overflow-y-scroll border rounded")
            template(x-for="player in rosterPlayers" :key="player")
              div(class="w-full text-left p-3 border-b flex justify-between bg-white draggable")
                input(type="hidden" name="players[]" :value="JSON.stringify(player)")
                span(x-text="player.hint")
                div(class="flex")
                  button(class="block" type="button" class="rounded-full bg-green-700 text-white h-8 w-8 mr-2" x-on:click="selectedPlayer = player; editingPlayer = true;") &#9998;
                  button(class="block" type="button" class="rounded-full bg-red-700 text-white h-8 w-8" x-on:click="rosterPlayers = rosterPlayers.filter(p => p._id !== player._id)") 	&times;

      template(x-if="selectedPlayer._id")
        div#selectedPlayer(class="list--card flex-col")
          h4(x-text="selectedPlayer.name || selectedPlayer.hint")
          label(for="playerHint" class="flex flex-col font-semibold") Hint
            input(type="text" id="playerHint" x-model="selectedPlayer.hint" class="base--input" placeholder="Player Hint")
          div(class="mt-3")
            button(type="button" class="btn btn--edit mr-3" x-on:click="if (!editingPlayer) { if(!rosterPlayers.filter(pl => pl._id === selectedPlayer._id).length) { rosterPlayers.push({ _id: selectedPlayer._id, hint: selectedPlayer.hint }); } else { alert('Player already in roster') } selectedPlayer = {}} else { editingPlayer = false; selectedPlayer = {} }") Add Player
            button(type="button" class="btn btn--delete" x-on:click="selectedPlayer = {}") Cancel
    .flex.flex-wrap.mb-3
      div(class="md:w-1/2 w-full")
        label(for="active" class="flex-1 font-semibold") Active
          input(type="checkbox" name="active" id="active" class="ml-2" checked=roster.active)
      div(class="md:w-1/2 w-full")
        label(for="default" class="flex-1 font-semibold") Default
          input(type="checkbox" name="default" id="default" class="ml-2" checked=roster.default)
    .mb-3
      button(type="submit" class="px-2 py-3 rounded bg-blue-700 text-white") Save Roster
