include ./_baseInput

mixin songbookForm(songbook = {}, edit = false)
  form(method="POST")
    .flex.flex-col.mb-3
      +baseInput("text", "Title", "songbook_title", songbook.songbook_title, "Title", true)
    .flex.flex-col.mb-3
      +baseInput("text", "Organization", "organization", songbook.organization, "Organization", true)
    .flex.flex-col.mb-3
      label(for="description" class="flex-1 font-semibold") Description
      textarea(name="description" id="description" class="border flex-auto rounded p-2 shadow" placeholder="Description") #{songbook.description}
    .flex.flex-col.mb-3
      button#front_cover_button(type="button" class="px-3 py-2 rounded bg-blue-700 text-white mb-2") Upload Front Cover
      input(type="text" name="front_cover" id="front_cover" class="border flex-auto rounded p-2 shadow bg-gray-400 text-gray-700 cursor-not-allowed pointer-events-none" value=songbook.front_cover)
    .flex.flex-col.mb-3
      button#back_cover_button(type="button" class="px-3 py-2 rounded bg-blue-700 text-white mb-2") Upload Back Cover
      input(type="text" name="back_cover" id="back_cover" class="border flex-auto rounded p-2 shadow bg-gray-400 text-gray-700 cursor-not-allowed pointer-events-none" value=songbook.back_cover)
    .flex.flex-col.mb-3
      h3 Chapters
    if edit
      div(class="StackedList" x-data="{ chapters: " + JSON.stringify(songbook.chapters) + " }")
        template(x-for="chapter in chapters")
          div(class="list--card draggable")
            input(type="hidden" name="chapters[]" :value="JSON.stringify(chapter)")
            div(class="flex flex-col")
              h4(x-text="chapter.chapter_title")
              p Songs:
                span(x-text="chapter.songs.length")
    .mb-3
      button(type="submit" class="px-3 py-2 rounded bg-blue-700 text-white") Save Songbook
