extends ../layout

include ../mixins/_rosterForm

block content
  h2 #{title}
  +rosterForm({
    rosterTitle: '',
    season: '',
    players: [],
    active: false,
    default: false
  }, players)
