extends ../layout

include ../mixins/_csrfInput

block content
  h2 #{title}
  p
    strong Are your sure you want to delete #{roster.rosterTitle}
    form(method="POST")
      +csrfInput()
      button(type="submit" class="py-3 px-2 rounded bg-red-700 text-white") Delete
