extends ../layout

include ../mixins/_rostersList

block content
  div(class="mb-3")
    h2(class="font-extrabold text-3xl mb-3") #{title}
  div
    div(class="flex justify-between mb-3 flex-col md:flex-row")
      a(href="/rosters/create" class="btn btn--success") Add Roster
    div#rostersList(class="-mx-3")
      +rostersList(rosters)
