extends ../layout

block content
  h2 #{title}
  p
    strong Are you sure you want to delete #{user.fullname}?
    form(method="POST" class="mt-3")
      button(type="submit" class="bg-red-700 text-white px-3 py-2 rounded") Delete
