extends ../layout

block content
  .mx-auto.container
    div(class="show--card")
      h2 #{title}
      h3 Current Songs:
      if (chapter.songs)
        ul
          each song in chapter.songs
            li #{song.hint}
      div(class="show--card__footer")
        h2 Hello
